@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;

  /* Custom color variables */
  --color-primary: #d5bd69;
  --color-secondary: #0f233f;
  --color-accent: #fff; /* amber-500 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);

  --font-montserrat: var(--font-montserrat);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;

    /* Adjusted dark mode colors */
    --color-primary: #d5bd69; /* lighter blue */
    --color-secondary: #0f233f; /* lighter purple */
    --color-accent: #fff; /* lighter amber */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
}
