@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;

  /* Custom color variables */
  --color-primary: #D5BD69; 
  --color-secondary: #0F233F;
  --color-accent: #fff; /* amber-500 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;

    /* Adjusted dark mode colors */
    --color-primary: #D5BD69; /* lighter blue */
    --color-secondary: #0F233F; /* lighter purple */
    --color-accent: #fff; /* lighter amber */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
