@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;

  /* Custom color variables */
  --color-primary: #d5bd69;
  --color-secondary: #0f233f;
  --color-accent: #fff; /* amber-500 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);

  --font-montserrat: var(--font-montserrat);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;

    /* Adjusted dark mode colors */
    --color-primary: #d5bd69; /* lighter blue */
    --color-secondary: #0f233f; /* lighter purple */
    --color-accent: #fff; /* lighter amber */
  }
}

* {
  scroll-behavior: smooth;
}

button {
  cursor: pointer !important;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
}

.faq-gradient-bg {
  background: linear-gradient(
    to bottom,
    #f6faff 0%,
    #f6faff 5%,
    #ffffff 5%,
    #ffffff 95%,
    #f6faff 95%,
    #f6faff 100%
  ) !important;
}

@media (min-width: 768px) {
  .faq-gradient-bg {
    background: linear-gradient(
      to bottom,
      #f6faff 0%,
      #f6faff 8%,
      #ffffff 8%,
      #ffffff 92%,
      #f6faff 92%,
      #f6faff 100%
    ) !important;
  }
}
